@charset "utf-8";

div, ul, li { 
  margin:0; padding:0; 
}

#Menu {
  float:left;
  margin:18px 5px 3px 5px;
  padding:5px 20px 10px 20px;
  box-shadow: 0px 0px 15px rgba(184, 158, 111, 0.3);
  -moz-border-radius: 3px;
  border-radius: 20px;
  background-color:rgb(212, 188, 153);
  text-align: center;
}

#Menu ul li {
  float:left;
  list-style-type:none;
}

#Menu a {
  height:16px;
  color:rgb(161, 116, 137);
  font-family:sans-serif;
  font-size:12px;
  padding:0 10px 0 10px;
  text-decoration:none;
  text-align:center;
}

#Menu a:hover {
  color:rgb(201, 173, 150);
  border-bottom:1px solid rgb(197, 182, 160);
  text-align: center;
}

#Menu ul ul {
  display:none;
  position:absolute;
  background-color:rgb(184, 170, 134);
}

#Menu ul li:hover ul {
  display: block;
}

#Menu ul ul li {
  float:none;
}