@charset "utf-8";

img {
    float: right;
    border-radius:50px;
    opacity: 0.7;
  filter: alpha(opacity=50);
}
div2{
  font-family:"Hanna", serif;
  font-weight:bold;
  font-size:65px;
  color:rgb(138, 119, 79);
  text-shadow:3px 2px pink;
}
div3{
  font-family:"Hanna", serif;
  font-weight:bold;
  font-size:30px;
  color:rgb(138, 119, 79);
}



